body {
    background-color: $veryDarkBlue;
}

.background {

    background-image: url(../images/bg-desktop-dark.jpg);
    height: 300px;
    background-size: cover;
      
}

.header {
    color: $lightGrayishDT;  
    &__icon {
        background-image: url("../images/icon-sun.svg");
        height: 26px;
        width: 26px;
    }
}

.todo {
    &__new {
        background-color: $desaturatedBlue;
        color: $veryDarkGrayishDT;
    }


    &__add {
        color: $darkGrayishDT;

        &::placeholder {
            color: $veryDarkGrayishDT;
        } 
    }

    &__item {
        background-color: $desaturatedBlue;
        color: $darkGrayishDT;
    }
  
}

.todos {
    &__status {
        background-color: $desaturatedBlue;
        color: $veryDarkGrayishDT;

        &--btn {
            color: $veryDarkGrayishDT;

            &:hover {
                color: $lightGrayishBlueDT;
            }
        }
    }
}
