body {
    background-color: $veryDarkBlue;
}

.container {
    background-image: url(../images/bg-desktop-dark.jpg);
    height: 300px;
    background-size: cover;
}

.header {
    color: $lightGrayishDT;  
    &__icon {
        background-image: url("../images/icon-sun.svg");
        height: 26px;
        width: 26px;
        margin-top: 1.5rem;
    }
}

.todo {
    &__new {
        background-color: $desaturatedBlue;
        color: $veryDarkGrayishDT;
    }


    &__add {
        color: $lightGrayishDT;

        &::placeholder {
            color: $veryDarkGrayishDT;
        } 
    }

    &__item {
        background-color: $desaturatedBlue;
        color: $lightGrayishDT;
        border-bottom-color: $veryDarkGrayishDT;
    }

    &__cancel {
        color: $veryDarkGrayishDT;

        &:hover {
            color: $specialBlue;
        }
    }
  
}

.todo {
    &__footer {
        background-color: $desaturatedBlue;
        color: $veryDarkGrayishDT;

        &--btn {
            color: $veryDarkGrayishDT;

            &:hover {
                color: $specialBlue;
            }
        }
    }
}

.small {
    color: $veryDarkGrayishDT;
   
}
