body {
    background-color: $veryDarkBlue;
}

.background {

    background-image: url(../images/bg-desktop-dark.jpg);
    height: 300px;
    background-size: cover;
      
}

.header {
    color: $lightGrayishDT;  
    &__icon {
        background-image: url("../images/icon-sun.svg");
        height: 26px;
        width: 26px;
    }
}

.todo {
    &__new {
        background-color: $desaturatedBlue;
    }

    &__add {
        color: $lightGrayishDT;
    }
}

.todo__item {
    background-color: $desaturatedBlue;
    color:  $lightGrayishDT;
}