html {
    font-size: 1.8rem;
    scroll-behavior: smooth;
  
}

body {
    overflow-x: hidden;
    font-family: $font;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main {
    width: 50%; 
    margin: 0 auto;
    font-family: $font;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__title {
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: 8px;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}

.circle {
    background-color: transparent;
    flex: 0 0 auto;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid $lightGrayishDT;
    opacity: .8;
    cursor: pointer;
    outline: none;
    margin: 0 .5rem;

    &:hover {
        border-color: violet;
    }
  }

.checked {
    
    background-image: url(../images/icon-check.svg);
    background-image: $gradient; 
}

.complete {
    text-decoration: line-through;
}

.close {
    margin-right: .5rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding-right: auto; 

    &:hover {
        color: white;
    }
}

.todo {

    &__todos {
        box-shadow: 0 10px 28px -6px black;
        position: relative;
    }
    
    &__new {
        width: 100%;
        height: 2rem;
        border-radius: 5px;
        padding-left: .25rem;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__add {
        width: 100%;
        height: 80%;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: .8rem;
        padding-left: .5rem;
        font-family: $font;

        &--btn {
            font-size: 1.6rem;
            color: $lightGrayishDT;
            padding: 0 .5rem;
            opacity: .6;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                color: #fff;
                opacity: 1;
            }
        }

        &::placeholder {
            font-family: $font;
        } 
    }

    &__item {
        width: 100%;
        height: 2rem;
        padding-left: .25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .8rem;
        border-bottom-style: solid;
        border-bottom-width: .5px;
    }
}



.todo {
    &__footer {
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: .6rem;
        padding-left: .25rem;
        position: relative;

        &--counter { 
            padding-left: .5rem;
        }
        &--btn {
            outline: none;
            background-color: transparent;
            border: none;
            font-size: .6rem;
            cursor: pointer;
            font-family: $font;
            font-weight: bold;
        }
    }
}

.checked {
    text-decoration: line-through;
}

.small {
    position: absolute;
    bottom: -2rem;
    right: 50%;
    transform: translate(50%, -50%);
    padding-top: .5rem;
    font-size: .8rem;
}



    .todos-circle {
        width: 20px;
        height: 20px;
        border: 1px solid hsl(237, 14%, 26%);
        position: absolute;
        left: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-2px);
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            width: 90%;
            height: 90%;
            background-color: hsl(235, 24%, 19%);
            border-radius: 50%;
            pointer-events: none;
            z-index: -5;
        }

        &:hover {
            background-image: linear-gradient(to bottom right,
                    hsl(192, 100%, 67%),
                    hsl(280, 87%, 65%));
        }
        &.light {
            border: 1px solid hsl(233, 11%, 84%);

            &:before {
                background-color: hsl(0, 0%, 98%);
            }
        }

        &.clicked {
            background: url(../images/icon-check.svg) no-repeat center center, linear-gradient(140deg, rgba(87, 221, 255, 1), rgba(192, 88, 243, 1));

            &::before {
                display: none;
            }
        }
    }

.none {
    display: none;
}

.clear-completed {
    padding-right: .5rem;
}