html {
    font-size: 1.8rem;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: $font;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.main {
    width: 50%; 
    margin: 0 auto;
    font-family: $font;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__title {
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: 8px;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}

.circle {
    background-color: transparent;
    flex: 0 0 auto;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid $lightGrayishDT;
    opacity: .8;
    cursor: pointer;
    outline: none;
    margin: 0 .5rem;

    &:hover {
        border-color: violet;
    }
  }

.checked {
    
    background-image: url(../images/icon-check.svg);
    background-image: $gradient; 
}

.complete {
    text-decoration: line-through;
}

.close {
    margin-right: .5rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding-right: auto; 

    &:hover {
        color: white;
    }
}

.todos__status.none {
    display: none;
}

.todo {
    
    &__new {
        width: 100%;
        height: 2rem;
        border-radius: 5px;
        padding-left: .25rem;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__add {
        width: 100%;
        height: 80%;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: .8rem;
        padding-left: .5rem;
        font-family: $font;

        &--btn {
            font-size: 1.6rem;
            color: $lightGrayishDT;
            padding: 0 .5rem;
            opacity: .6;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                color: #fff;
                opacity: 1;
            }
        }

        &::placeholder {
            font-family: $font;
        } 
    }

    &__item {
        width: 100%;
        height: 2rem;
        padding-left: .25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .8rem;
    }
}

.todos {
    &__status {
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-left: .25rem;

        &--items {
            font-size: .6rem;
            padding: 0 .5rem;
        }

        &--btn {
            outline: none;
            background-color: transparent;
            border: none;
            font-size: .6rem;
            cursor: pointer;
            font-family: $font;
        }

        &--clear {
            padding: 0 .5rem;
        }
    }
}

.done {
    text-decoration: line-through;
}

