// font 

$font: 'Josefin Sans';

//colors 

$specialBlue: hsl(220, 98%, 61%);

$gradient: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

// Light theme 

$veryLightGray: hsl(0, 0%, 98%);
$veryLightGrayish: hsl(236, 33%, 92%);
$lightGrayish: hsl(233, 11%, 84%);
$darkGrayish: hsl(236, 9%, 61%);
$veryDarkGrayish: hsl(235, 19%, 35%);

// Dark theme

$veryDarkBlue: hsl(235, 21%, 11%);
$desaturatedBlue: hsl(235, 24%, 19%);
$lightGrayishDT: hsl(234, 39%, 85%);
$lightGrayishBlueDT: hsl(236, 33%, 92%); //hover
$darkGrayishDT: hsl(234, 11%, 52%);
$veryDarkGrayishDT: hsl(233, 14%, 35%);
$veryDarkGrayishDT2: hsl(237, 14%, 26%);